%h1.page= @page.name
.content.edit_area= @page.body

:javascript
  $(document).ready(function() {
    var PAGE_TITLE = $("h1.page").html();
    
    $(".edit_area").editable('/eip/' + PAGE_TITLE, {
      indicator: "saving...",
      tooltip: 'double-click to edit...',
      cancel: 'cancel',
      submit: 'save',
      event: 'dblclick',
      cssclass: 'edit',
      loadurl: '/' + PAGE_TITLE + '.txt',
      type: 'textarea',
      name: 'body'
    });
  });
