%h1.page= @page.name
.content.edit_area{ :id => @page.name }
  :textile
    #{@page.body}

:javascript
  $(document).ready(function() {
    $(".edit_area").editable('/eip/#{@page.name}', {
      indicator: "saving...",
      tooltip: 'double-click to edit...',
      cancel: 'cancel',
      submit: 'save',
      event: 'dblclick',
      cssclass: 'edit',
      height: '30em',
      loadurl: '/#{@page.name}.txt',
      type: 'textarea',
      name: 'body'
    });
  });
