html {
  background-color: #e0e0e0; }

body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif; }

a {
	color: #17d;
	text-decoration: none; }
	a:hover {
		color: #ed1556;
		text-decoration: underline; }

#header, #content, #footer {
  width: 40em !important;
  margin: 0 auto;
  background: #f8f8f8;
  padding: 0 2em;
 	z-index: 0;
 	position: relative; }

#header {
  padding-top: 1em;
	padding-bottom: 2em;
	min-height: 108px;
 	background: #fff; }
  #header h1 {
    font: bold 3em Georgia, "Times New Roman", serif;
		width: 6em; }
		#header h1 a {
	    color: #ed1556;
			display: block;
			line-height: 108px;
			padding-left: 3.5em;
			position: relative;
			left: -1.25em;
			z-index: 2;
			background: url('/sinatra-logo.gif'); 
			background-repeat: no-repeat;
			background-position: left middle; }
			#header h1 a:hover {
				color: #cb0334; }
	#navigation {
		position: absolute; 
		left: 23em;
		top: 4.5em; }
		#navigation li {
			float: left;
			margin-right: 1em; }

#content {
  padding-top: 1em;
  padding-bottom: 2em; }
	#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
	#content h1 {
		position: absolute;
		font-size: 2em;
		font-weight: bold;
		top: -1.5em;
		right: 0;
		margin-top: -5px;
		padding: .2em .5em;
		border-bottom: 1px solid #e0e0e0;
		width: 40em;
		text-align: right;
		color: #333;
		z-index: 0; }
  #content h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: .75em;
    position: relative;
    left: -1.5em;
    padding: .25em;
    background: #f8f8f8;
    color: #333;
    border-bottom: 1px solid #c0c0c0; }
	#content h3 {
		font-weight: bold;
		font-size: 1.5em;
		color: #4e4e4e;
		margin: 1em 0 .2em; }
	#content h4 {
		font-weight: bold;
		font-size: 1.25em;
		color: #4e4e4e;
		margin: .25em 0; }
	#content h5, #content h6 {
		font-weight: bold;
		color: #4e4e4e;
		margin-top: .5em; }
	#content code, #content pre, #content textarea {
		font-family: "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", "Inconsolata", "Consolas", monospace; }
	#content textarea {
	  border: 1px solid #ccc;
	  font-size: .9em;
	  padding: .5em; }
	#content form.edit textarea {
		width: 43em !important; }
	#content strong {
		font-weight: bold; }
	#content ul {
		list-style-type: square;
		margin-left: 2em; }
	

#footer {
  padding: 1.5em 2.5em;
  border-top: 1px solid #ccc; 
	font-size: .8em;
	width: 50em !important;
	color: #666;
	text-align: center; }
